<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
  </head>
  <body ng-app="projetAngularJsApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <a class="navbar-brand" href="#/">projetAngularJs</a>
          </div>

          <div class="collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
   		<div ng-view=""></div>
   		<header>
            <h1>User Stories List</h1>
            <h3>Remplir tous les champs pour faire un ajout</h3>
        </header>
    	<section ng-controller="contentCtrl">
    		<form id="userStory-form" ng-submit="addUserStory()">
			    <input id="story" placeholder="Story" ng-model="story" />
			    <label>Priority</label>
			    <select id="priority" ng-model="priority">
			    	<option id="1">1</option>
			    	<option id="2">2</option>
			    	<option id="3">3</option>
			    </select>
			    <label>Estimate</label>
			    <select id="estimate" ng-model="estimate">
			    	<option id="1">1</option>
			    	<option id="2">2</option>
			    	<option id="3">3</option>
			    </select>
			    <input id="informations" placeholder="Informations" ng-model="informations" />
			    <input id="theme" placeholder="Theme" ng-model="theme" />
			    <label>Epic</label>
			    <select id="epic" ng-model="epic">
			    	<option id="epic1">epic1</option>
			    	<option id="epic2">epic2</option>
			    	<option id="epic3">epic3</option>
			    </select>
			    <label>Stakeholder</label>
			    <select id="stakeholder" ng-model="stakeholder">
			    	<option id="stakeholder1">stakeholder1</option>
			    	<option id="stakeholder2">stakeholder2</option>
			    	<option id="stakeholder3">stakeholder3</option>
			    </select>
			    <button type="submit">Add</button>
			</form>
		    <article ng-show="userStories.length">
			    <ul id="userStories-list">
			        <li ng-repeat="userStory in userStories" ng-class="{completed: userStory.completed}">
			            <div class="view">
			                <input class="mark" type="checkbox" ng-model="userStory.completed" />
			                <span>{{userStory.story}}</span>
			                <span>{{userStory.priority}}</span>
			                <span>{{userStory.estimate}}</span>
			                <span>{{userStory.informations}}</span>
			                <span>{{userStory.theme}}</span>
			                <span>{{userStory.epic}}</span>
			                <span>{{userStory.stakeholder}}</span>
			                <button class="btn btn-danger" ng-click="removeUserStory(userStory)">XXX</button>
			            </div>
			        </li>
			    </ul>
				<input id="mark-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" />
				<label class="btn btn-info" for="mark-all">Tout cocher</label>
				<button class="btn btn-danger" ng-click="clearCompletedUserStories()">Delete User Stories</button>
			</article>
    	</section>
    </div>
    

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
